.container {
  padding: 1.4vw;
  display: inline-flex;
  border-radius: 10px;
  flex-direction: column;
  background-color: #ebedee;
  .nameAndPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name {
      font-size: 30px;
      font-weight: 200;
    }
    .price {
      font-size: 15px;
      text-transform: uppercase;
    }
  }
  .img {
    align-self: center;
    width: 80%;
  }
  .colors {
    align-self: center;

    display: flex;
    align-items: center;
    gap: 1.5vw;

    .active {
      outline: 1px solid black;
      padding: 3px;
      border-radius: 50%;
    }
  }
}
