.layout {
  padding: 100px 50px;
  .title {
    font-size: 100px;
    font-weight: 500;
    margin-bottom: 4vw;
  }
  .container {
    overflow-x: scroll;
    gap: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
