.section {
  padding: 20vw 50px;
  .title {
    text-align: center;
    font-size: 160px;
    font-weight: 500;
    margin-bottom: 4vw;
  }
  .container {
    padding: 30vw;
    position: relative;
    .image1 {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 50vw;

      z-index: 1;
    }
    .image2 {
      position: absolute;
      top: 34vw;
      left: 35vw;
      width: 35vw;
      z-index: 2;
    }
    .image3 {
      position: absolute;
      top: 10vw;
      right: 50px;
      width: 20vw;
      z-index: 3;
    }
    .description {
      padding: 5vw 3vw;
      background-color: white;
      position: absolute;
      border-radius: 10px;

      right: 10vw;
      width: 30vw;
      border: 1px solid rgba(0, 0, 0, 0.3);
      z-index: 4;

      .text {
        font-size: 35px;
        color: rgba(0, 0, 0, 0.9);
        font-weight: 200;
        letter-spacing: 1.4px;
      }
    }
  }
}
