.layout {
  padding: 100px 50px;
  .title {
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 4vw;
  }
  .container {
    overflow: hidden;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 170px);
    div {
      border-radius: 10px;
      transition: 0.25s;

      &:hover {
        transform: scale(0.95);
        cursor: pointer;
      }
    }
  }
}
