.scroll {
  transform: translateY(-100px);
}
.navbar {
  z-index: 100;
  display: flex;

  width: 100%;
  top: 0;
  right: 0;
  padding: 15px 50px;
  justify-content: space-between;
  transition: 0.4s;
  position: fixed;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  .logoWithLinks {
    display: flex;
    align-items: center;
    gap: 5vw;
    .logo {
      fill: white;
      transition: 0.4s;
    }
    .links {
      display: flex;
      gap: 1.3vw;

      .link {
        display: block;
        margin: auto 0;

        font-size: 16px;
        line-height: 125%;
        letter-spacing: 1px;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;

        transition: 0.4s;
        position: relative;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 0;
          left: 0;
          background-color: white;
          transform: scaleX(0);
          transition: transform 0.2s ease-in-out;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }

  .interface {
    display: flex;
    gap: 20px;
    align-items: center;

    .button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      &:first-child {
        display: none;
      }
    }
  }
}
@media (max-width: 1250px) {
  .navbar {
    .logoWithLinks {
      .links {
        display: none;
      }
    }
    .interface {
      .button {
        &:first-child {
          display: block;
        }
      }
    }
  }
}
