.layout {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  .container {
    padding: 560px 0px 15vw 50px;
    font-weight: 500;
    overflow-y: hidden;
    p {
      font-size: 14px;
      line-height: 107%;
      letter-spacing: 0.04em;
      margin-bottom: 1vw;
    }
    div {
      overflow: hidden;
      .head {
        text-transform: capitalize;
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
      }
    }
  }
  .scroll {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
    display: flex;
  }
}
