.layout {
  background-image: url("./HeroSection.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  .container {
    padding: 365px 0px 0px 50px;
    font-weight: 500;
    overflow-y: hidden;
    p {
      font-size: 14px;
      line-height: 107%;
      letter-spacing: 0.04em;
      margin-bottom: 1vw;
    }
    h1 {
      text-transform: capitalize;
      font-style: normal;
      font-weight: 400;
      font-size: 70px;
      padding-bottom: 15vw;
    }
  }
  .scroll {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
    display: flex;
  }
}
