.layout {
  height: 100vh;
  overflow: scroll;
  position: relative;
  .nameAndPrice {
    position: sticky;
    background-color: #f6f6f6;
    top: 0;
    right: 0;
    color: black;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .name {
      font-size: 40px;
      font-weight: 400;
    }
    .price {
      font-size: 33px;
      font-weight: 200;
    }
  }
  .models {
    overflow-x: scroll;
    padding: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .title {
      font-size: 20px;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 2vw;
    }
    .modelList {
      display: flex;
      gap: 2vw;

      .model {
        display: flex;
        flex-direction: column;
        .modelImage {
          display: flex;
          border: 1px solid #000;
          margin-bottom: 0.4vw;
          border-radius: 10px;
          overflow: hidden;

          img {
            width: 200px;
          }
        }
        .modelName {
          margin: 0 auto;
          font-size: 16px;
          font-weight: 400;
          line-height: 125%;
          letter-spacing: 1px;
        }
      }
    }
  }
  .colors {
    padding: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .title {
      font-size: 20px;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 2vw;
    }
    .colorList {
      display: flex;
      align-items: center;
      gap: 1.5vw;
    }
  }
  .accessories {
    padding: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .title {
      font-size: 20px;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 6vw;
    }
    .accessoriesList {
      display: flex;
      flex-direction: column;
      .name {
        font-size: 18px;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 0.3vw;
      }
    }
  }
  .button {
    display: flex;
    justify-content: center;
    button {
      padding: 20px 40%;
      font-size: 18px;
      border-radius: 40px;
      color: white;

      font-weight: 400;
      line-height: 125%;
      letter-spacing: 1px;
      text-transform: uppercase;
      background-color: black;
    }
  }
}
