.review {
  padding: 4vw 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
  .text {
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 3vw;
  }
}
