.layout {
  padding: 100px 50px 20vw 50px;
  .title {
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 4vw;
  }
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 180px);
    gap: 20px;
    div {
      font-size: 18px;
      font-weight: 200;
      letter-spacing: 1px;

      padding: 1vw;

      color: white;
      display: flex;
      align-items: end;

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 10px;
      transition: 0.4s;
      &:hover {
        transform: scale(0.95);
        cursor: pointer;
      }
    }
  }
}
