.layout {
  background-image: url("./img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: flex-end;
  .container {
    display: inline-block;
    padding: 25vw 10vw 25vw 70vw;

    color: white;
    h2 {
      font-size: 50px;
      font-weight: 200;
    }
    p {
      line-height: 21px;
      font-size: 14px;
      font-weight: 400;
      color: rgba($color: #ffffff, $alpha: 0.9);
    }
  }
}
