.layout {
  padding: 0 50px;
  .container {
    display: flex;
    margin: 200px 0px;
    align-items: center;
    justify-content: space-between;
    .info {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        font-size: 70px;
        font-weight: 400;
        margin-bottom: 1vw;
      }
      .description {
        width: 50%;
        font-size: 17px;
        letter-spacing: 1px;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 200;
        margin-bottom: 2vw;
      }
      .link {
        font-size: 20px;
        color: black;
        font-weight: 400;
        text-decoration: none;
      }
    }
    .image {
      border-radius: 10px;
      width: 50%;
    }
  }
}
.testing {
  padding: 100px 50px;
  .testTitle {
    font-size: 100px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 1vw;
  }
  .testDescription {
    font-size: 20px;

    color: rgba(0, 0, 0, 0.5);
    font-weight: 200;
    margin-bottom: 2vw;
  }
  .testButton {
    padding: 25px 45px;
    background-color: white;
    border: 1px solid #000;
    transition: 0.5s;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;

    cursor: pointer;
    &:hover {
      background-color: #000;
      color: white;
    }
  }
}

.img {
  background-image: url(https://www.veloretti.com/_next/image?url=https%3A%2F%2Fimages.ctfassets.net%2Fqp8eahdr9bo6%2FFJeATU4SpmEYK0XgTld6M%2Fef65ba1ad77df0b931280195aa8c29c1%2FBATR_desktop.png&w=1920&q=75);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vw;
  margin-bottom: 20vw;
}
