.layout {
  padding: 0 50px;
  .container {
    display: flex;
    margin: 100px 0px;
    align-items: center;
    justify-content: space-between;
    .info {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        font-size: 70px;
        font-weight: 400;
        margin-bottom: 1vw;
      }
      .description {
        width: 50%;
        font-size: 17px;
        letter-spacing: 1px;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 200;
        margin-bottom: 2vw;
      }
      .link {
        font-size: 20px;
        color: black;
        font-weight: 400;
        text-decoration: none;
      }
    }
    .image {
      border-radius: 10px;
      width: 50%;
    }
  }
}
